.main {
  color: red;
  padding: 20px;
  background-color: white;
  color: black;
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black;
  
}

.list {
  padding-top: 20px;
  list-style: none;
  width: 100%;
  column-count: 4 ;
  background-color: white;
  color:white;
  
}

.listItem {
  
  height: 690px;
  width:400px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #393E46;
  align-items: center;
  margin-bottom: 20px;
 border-radius: 1%;
}


.listItem img {
  border-radius: 1%;
  height: 600px;
  width: 400px;
  
}

.listItem .addMovie {
  display: none;
}

.listItem:hover .addMovie {
  display: inline-flex;
}
.box{
  display:flex;
  align-items: center;
}
